# Custom gitignore for Janklab-munged SLF4J 1.5.8 repo

tmp/
target/
!target/site/
tests/output/
tests/junit*.properties
tests/temp
!tests/witness/*.log
!tests/witness/*.log
!tests/resources/**/*.log
!examples/**/*.log

*.class

.vscode/
